# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Lab4.iml
# Datasource local storage ignored files
/../../../../../../../../:\Programming\C#\ВСРПП\stringFinder\.idea\.idea.Lab4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
